compile/yolov8/*.pkl
compile/yolov8/*.bin
compile/simulation_data/*
compile/compile_out/*
DNN/
compile/hardware_data/00.BIN
compile/hardware_data/01.BIN
compile/hardware_data/02.BIN
compile/hardware_data/03.BIN
compile/hardware_data/04.BIN
compile/hardware_data/05.BIN
compile/hardware_data/06.BIN
compile/hardware_data/07.BIN
compile/hardware_data/08.BIN
compile/hardware_data/09.BIN
compile/hardware_data/10.BIN
compile/hardware_data/11.BIN
compile/hardware_data/12.BIN
compile/hardware_data/13.BIN
compile/hardware_data/14.BIN
compile/hardware_data/15.BIN
compile/hardware_data/16.BIN
compile/hardware_data/17.BIN
compile/hardware_data/18.BIN
compile/hardware_data/19.BIN
compile/hardware_data/20.BIN
compile/hardware_data/21.BIN
compile/hardware_data/22.BIN
compile/hardware_data/23.BIN
compile/hardware_data/24.BIN
compile/hardware_data/25.BIN
compile/hardware_data/26.BIN
compile/hardware_data/27.BIN
compile/hardware_data/28.BIN
compile/hardware_data/29.BIN
compile/hardware_data/30.BIN
compile/hardware_data/31.BIN
compile/hardware_data/32.BIN
compile/hardware_data/33.BIN
compile/hardware_data/34.BIN
compile/hardware_data/35.BIN
compile/hardware_data/36.BIN
compile/hardware_data/37.BIN
compile/hardware_data/38.BIN
compile/hardware_data/39.BIN
compile/hardware_data/40.BIN
compile/hardware_data/41.BIN
compile/hardware_data/42.BIN
compile/hardware_data/43.BIN
compile/hardware_data/44.BIN
compile/hardware_data/45.BIN
compile/hardware_data/46.BIN
compile/hardware_data/47.BIN
compile/hardware_data/48.BIN
compile/hardware_data/49.BIN
compile/hardware_data/50.BIN
compile/hardware_data/51.BIN
compile/hardware_data/52.BIN
compile/hardware_data/53.BIN
compile/hardware_data/54.BIN
compile/hardware_data/55.BIN
compile/hardware_data/56.BIN
compile/hardware_data/57.BIN
compile/hardware_data/58.BIN
compile/hardware_data/59.BIN
compile/hardware_data/60.BIN
compile/hardware_data/61.BIN
compile/hardware_data/62.BIN
compile/hardware_data/63.BIN
compile/hardware_data/64.BIN
compile/hardware_data/65.BIN
compile/hardware_data/66.BIN
compile/hardware_data/67.BIN
compile/hardware_data/68.BIN
compile/hardware_data/69.BIN
compile/hardware_data/70.BIN
compile/hardware_data/71.BIN
compile/hardware_data/72.BIN
compile/hardware_data/73.BIN
compile/hardware_data/74.BIN
compile/imageprocess/model.pkl
.history/
sim/work/

